#rhar{
    position: relative;
    top: 200px;
    left: 50px;
    margin-right: 20px;
}

/* rasgele ülkeler */
#ülkeler{
    position: relative;
    top: 150px;
    left: 600px;

}



/*harita  */
#hrtt{
    position: relative;
    height: 400px;
    width: 600px;

    top: 150px;
    left: 40px;
}

/* ülkerini bayrakları */
.ülkler{
    position: relative;
    height: 100px;
    width: 100px;

}

#rr{
    position: relative;
    height: 110px;
    width: 110px;
}

/* bayraklar  */
#gzl{
    
    display: block;
}
