

/* rasgele ülkeler */
#ülkeler{
    position: relative;
    top: 150px;
    left: 600px;

}


/* ülkerini bayrakları */
.ülkler{
    position: relative;
    height: 100px;
    width: 100px;

}

#rr{
    position: relative;
    height: 110px;
    width: 110px;
}

/* bayraklar  */
#gzl{
    
    display: block;


}

/* rasgele ülke seç */

/* rasgele baş harf */
#rhar{
    position: relative;
    left: 700px;
    top: 40px;
    height: auto;
    width: 20px;
    border: solid 1px  black;
    text-align: center;
   
}

#country{
    position: relative;
    top: 70px;
    left:640px;
    height: auto;
    width: 300px;

}

/* button */
#rrsgl{
    position: relative;
    top: 150px;
    left: 660px;

}

/* harita */
#hrtt{
    position: relative;
     bottom: 50px;
     left: 360px;
    height: 380px;
    width: 800px;
}
